fastapi
uvicorn[standard]
sqlalchemy>=2
greenlet>=3
asyncpg
clickhouse-connect>=0.15.1,<2
pydantic[email]>=2
pydantic-settings>=2
python-jose[cryptography]
passlib[bcrypt]==1.7.4
# pin bcrypt to avoid incompatibilities with passlib
bcrypt==3.2.0
python-multipart
python-dotenv
httpx
pyfaidx
pysam
PyYAML
